/* Main Style Sheet */

* { margin: 0; padding: 0; }

@import "_variables";

@mixin btnHoverStatus() {
  &:hover,
  &:target,
  &:focus {
    border-color: $color_gold;

    background-color: $color_gold;

    color: $color_dark_black;
    text-decoration: underline solid 2px $color_dark_black;
  }

  &:active {
    border-color: $color_red;

    background-color: $color_red;

    color: $color_dark_black;
    text-decoration: underline solid 2px $color_dark_black;
  }
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;

  display: grid;
  grid-template: minmax(5vh, auto) 1fr minmax(5vh, auto) / 1fr 1fr 1fr;
  grid-template-areas: "header header header"
                       "main   main   main  "
                       "footer footer footer";

  background-color: $color_bg;
}

.header {
  padding: 0.5rem;

  background-color: $color_black;

  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-flow: row wrap;

  grid-area: header;

  .header__title {
    padding: 0 1.5rem;
    border-bottom: 2px solid $color_gold;
    border-radius: 0.15rem;

    color: $font_white;
    font: 800 2.25rem "Barlow Condensed", sans-serif;
    text-align: center;
    text-transform: capitalize;
  }
  
  .header__text {
    color: $color_gold;
    font: 400 1rem "Outfit", sans-serif;
    text-align: center;
    text-transform: capitalize;
  } 
}

.main {
  background-color: $color_white;

  grid-area: main;

  .section {
    width: 90%;

    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.25rem auto;

    position: relative;
  }

  .section--roll {
    background-color: $color_black;

    .title {
      padding: 0 0.25rem;
      padding-left: 0.5rem;

      color: $font_white;
      font: 900 1.25rem "Outfit", sans-serif;
    }

    .dice-wrapper {
      margin: 0.25rem;
      border: 2px solid $color_gold;
      border-radius: 0.25rem;
      padding: 0.5rem;

      background-color: $color_dark_black;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-flow: row wrap;
      gap: 0.5rem;

      overflow: hidden;

      .dice {
        width: 30vh; 
        height: 30vh;

        border-radius: 0.5rem;

        background-color: $dice_bg;

        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;

        .dice__dot {
          width: 8vh;
          height: 8vh;
  
          border-radius: 2rem;

          background-color: $dice_dot;
        }
      }
    }

    .btn-wrapper {
      padding: 1vh 0;

      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        border: 2px solid $color_gold;
        border-radius: 0.5rem;
        outline: none;
        padding: 2vh 10vh;

        background-color: $color_dark_black;

        color: $color_gold;
        font: 900 1.25rem "Outfit", sans-serif;
        text-decoration: none;

        transition: background-color ease 500ms, color ease 500ms, text-decoration ease 500ms;

        @include btnHoverStatus();

        &[disabled] {
          border-color: $color_red;

          background-color: $color_red;

          color: $color_dark_black;
        }
      }
    }
  }

  .section--text {
    .title {
      margin: 0.5rem 0;
      border-bottom: 2px solid $color_gold;

      color: $color_gold;
      font: 900 1.25rem "Outfit", sans-serif;
      text-transform: capitalize;
    }
    
    .subtitle {
      margin: 0.5rem 0;
      
      color: $color_red;
      font: 700 1rem "Outfit", sans-serif;
      text-decoration: underline solid 2px $color_red;
      text-transform: capitalize;
    }
    
    .text {
      margin: 0.25rem 0;

      color: $font_black;
      font: 400 1rem "Outfit", sans-serif; 
    }
    
    .list {
      border-left: 2px solid $color_gold;
      padding-left: 0.25rem;
      
      list-style: none;
      
      color: $font_black;
      font: 400 1rem "Outfit", sans-serif;
      
      .li {
        &::before {
          padding-right: 0.25rem;

          content: "\f101";
          color: $color_gold;
          font: 500 1rem "FontAwesome";
        }
      }
    }
  }

  .section--results {
    width: 100%;

    padding: 0;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    .results-wrapper {
      min-height: 40vh;
      
      border: 2px solid $color_gold;
      border-radius: 0.5rem;
      padding: 0.5rem;

      background-color: $color_black;

      position: absolute;
      z-index: 2;

      display: none; // grid
      grid-template: auto 1fr / 1fr 20%;
      grid-template-areas: "title  exit  "
                           "result result";

      transition: transform 500ms ease;

      .title {
        border-bottom: 2px solid $color_gold;
        padding: 0.15rem 0;

        color: $color_gold;
        font: 700 1.75rem "Barlow Condensed", sans-serif;

        display: flex;
        align-items: baseline;
        flex-flow: row wrap;
        gap: 0.25rem;

        grid-area: title;

        sub {
          font-size: 0.6em;
        }
      }

      .exit-btn {
        margin: 0.25rem 0.5rem;
        border: 2px solid $color_gold;
        border-radius: 0.25rem;
        outline: none;

        background-color: transparent;

        grid-area: exit;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $color_gold;
        font: 500 1.25rem "FontAwesome";
        text-align: center;

        transition: background-color ease 250ms, color ease 250ms, text-decoration ease 250ms;
        
        &::before { content: "\f00d"; }

        @include btnHoverStatus();
      }

      .results {
        padding: 0.25rem;

        grid-area: result;

        .text {
          margin: 0.25rem 0;

          color: $font_white;
          font: 500 1rem "Outfit", sans-serif;
        }
        
        .text--win {
          margin: 1rem 0;
          
          font-weight: 700;
          text-decoration: underline solid 2px $color_gold;
        }
        
        .text--lose {
          margin: 1rem 0;
          
          font-weight: 700;
          text-decoration: underline solid 2px $color_red;
        }

        .score {
          color: $color_gold;
          font: 700 1.15em "Barlow Condensed", sans-serif;
          text-decoration: underline solid 2px $color_gold;
        }
        
        .list {
          list-style: none;

          color: $font_white;
          font: 500 1rem "Outfit", sans-serif;

          .li {
            &::before {
              padding-right: 0.25rem;

              content: "\f101";
              color: $color_gold;
              font: 500 1rem "FontAwesome";
            }
          }

          .li--negative {
            &::before { color: $color_red; }

            .score {
              color: $color_red;
              text-decoration-color: $color_red;
            }
          }
        }
      }
    }
  }
}

.footer {
  padding: 0.25rem;

  background-color: $color_dark_black;

  grid-area: footer;

  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  gap: 0.5rem;

  .footer-section {
    padding: 0.5rem;
    border-top: 1px solid $color_gold;
    border-bottom: 1px solid $color_gold;
  }

  .footer__title {
    margin: 0.25rem 0;

    color: $font_white;
    font: 500 1.15rem "Barlow Condensed", sans-serif;
  }

  .list {
    list-style: none;

    .list__obj {
      padding-left: 0.25rem;
      
      color: $font_white;
      font: 400 1rem "Outfit", sans-serif;

      &::before {
        padding-right: 0.25rem;

        content: "\f101";
        color: $color_gold;
        font: 500 0.85rem "FontAwesome";
      }
    }

    .list__link {
      outline: none;
      
      color: $font_white;
      font: 400 1rem "Outfit", sans-serif;
      text-decoration: none;

      transition: color ease 500ms, text-decoration ease 500ms;

      &::before {
        padding: 0.15rem;

        content: "\f08e";
        color: inherit;
        font: 500 0.85rem "FontAwesome";
      }

      &:hover,
      &:active,
      &:target,
      &:focus {
        color: $color_gold;
        text-decoration: underline solid 1px $color_gold;
      }
    }
  }
}

@keyframes showResults {
  from { opacity: 0; visibility: hidden; }
  to { opacity: 1; visibility: visible; }
}

@keyframes rotateDice {
  from { transform: rotate(0deg) scale(1); }
  to { transform: rotate(360deg) scale(0); }
}